.books-section {
  display: flex;
  flex-direction: row;
  border-top: 1px solid gray;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.left-panel {
  width: 35vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  padding: 2rem;
  border-right: 1px solid gray;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.left-panel button {
  border: none;
  background-color: white;
  text-align: left;
  padding: 15px 12px 15px 12px;
  font-size: 24px;
  color: #1a2141;
}

.left-panel button:hover {
  cursor: pointer;
  background-color: #1a2141;
  color: #deb865;
  transition: 0.5s;
  border-radius: 10px;
  box-shadow: 0 3px 10px #1a2141;
}

.active-tool {
  width: 200vh;
  padding: 2rem;
}
