.circulation-sections {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  padding: 2vh 0 2vh 0;
}

.circulation-sections button {
  font-size: 1.2vw;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: #1a2141;
  padding: 4px 10px 4px 10px;
}

.circulation-sections button:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: #1a2141;
  color: #deb865;
  transition: 0.5s;
}

.circulation-sections button:focus {
  cursor: pointer;
  border-radius: 10px;
  background-color: #1a2141;
  color: #deb865;
  transition: 0.5s;
}

.classes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1vh 0 1vh 0;
}

.grade-line {
  flex-wrap: wrap;
}

.group {
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
}

.classroom {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
}

.classroom thead tr {
  height: 60px;
  background-color: #1a2141;
  color: #deb865;
  border-radius: 10px 10px 0 0;
  text-align: left;
}

.classroom tr {
  font-size: 20px;
  border-radius: 10px 10px 0 0;
}

.classroom th {
  padding: 1rem 2rem 1rem 2rem;
}

.classroom td {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 14px;
  background-color: #deb865;
  color: #1a2141;
}

#email {
  width: 48px;
}

#email:hover {
  cursor: pointer;
}

@media (max-width: 932px) {
  .circulation-sections button {
    font-size: 1.7vw;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #1a2141;
    padding: 4px 10px 4px 10px;
  }

  .section-line {
    display: flex;
    gap: 10px;
  }

  #email {
    width: 32px;
  }

  .classroom {
    word-break: normal;
  }

  .classroom tr {
    font-size: 1.5vh;
  }

  .classroom td {
    font-size: 1vh;
  }
}
