.book-tools-buttons {
  display: flex;
  gap: 30px;
  padding: 2vh 0 3vh 0;
  justify-content: center;
}

.book-tools-buttons button {
  border: none;
  border-radius: 10px;
  background-color: white;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 24px;
  color: #1a2141;
}

.book-tools-buttons button:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.book-tools-buttons button:focus {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.selected-book-tool {
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: var(--main-color) 0px 20px 30px -10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 10px;
}

.selected-book-tool h3 {
  text-align: center;
  color: var(--secondary-color);
}

.selected-book-tool img {
  width: 32px;
}

.new-book-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 1rem 1rem 1rem 1rem;
  justify-content: center;
}

.new-book-form select,
input {
  height: 30px;
  width: 15rem;
  padding: 0 10px 0 10px;
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid #1a2141;
}

.new-book-form textarea {
  padding: 0 10px 0 10px;
}

.update-book-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 1rem 1rem 1rem 1rem;
  justify-content: center;
  color: white;
}

.update-book-form div {
  padding: 0 10px 0 10px;
}

.update-book-form select,
input {
  width: 100%;
  height: 30px;
  padding: 5px 15px 5px 15px;
  font-size: 1vw;
  margin: 5px 0 5px 0;
  border-radius: 10px;
  border: 1px solid #1a2141;
}

.active-tools-btns {
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.active-tools-btns button {
  font-size: 18px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: #1a2141;
  color: #deb865;
  padding: 10px 18px 10px 18px;
}

.active-tools-btns button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: #1a2141;
  transition: 0.5s;
}

/* SEARCH BOOK SECTION */

.book-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.book-info-col-1,
.book-info-col-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 2rem 1rem 2rem 1rem;
}

.book-info-col-1 div,
.book-info-col-2 div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.filtered-books {
  display: flex;
  flex-direction: column;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 0 5px 0 5px;
  color: white;
}

.autocomplete button {
  font-size: 18px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: #1a2141;
  color: #deb865;
  padding: 5px 18px 5px 18px;
}

.autocomplete button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: #1a2141;
  transition: 0.5s;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #1a2141;
}

.table-container {
  overflow: hidden;
  overflow-y: scroll;
  height: 600px;
}

#collection {
  border-collapse: collapse;
  width: 100%;
}

#collection td {
  border: 1px solid var(--main-color);
  padding: 8px;
}

#collection th {
  padding: 8px;
}

#collection tr:nth-child(even) {
  background-color: var(--secondary-color);
}

#collection tr:nth-child(odd) {
  background-color: white;
}

#collection tr:hover {
  background-color: #ddd;
}

#collection th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1a2141;
  color: #deb865;
}

#table-book-title {
  max-width: 360px;
}

#table-book-title:hover {
  cursor: pointer;
  color: blue;
}
/*
LOADING ANIMATION CSS
.loading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--secondary-color);
  text-align: center;
  align-items: center;
  padding: 0 0 30px 0;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: var(--secondary-color);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*/

.download {
  text-align: center;
  margin: 10px 0 20px 0;
}
.download button {
  font-size: 1.5vw;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 10px 18px 10px 18px;
}

.download button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--main-color);
  transition: 0.5s;
}

@media (max-width: 932px) {
  .new-book-form {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .new-book-form select,
  input {
    width: 100%;
  }

  .update-book-form {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: white;
  }

  .update-book-form div {
    padding: 0;
  }

  .update-book-form select,
  input {
    width: 100%;
    height: 30px;
    padding: 5px 15px 5px 15px;
    font-size: 3vw;
    margin: 5px 0 5px 0;
    border-radius: 10px;
  }

  .book-info label {
    font-size: 3vw;
  }

  .book-tools-buttons {
    display: flex;
    gap: 5px;
    padding: 2vh 0 3vh 0;
    justify-content: space-between;
    /* flex-wrap: wrap; */
  }

  .book-tools-buttons button {
    padding: 0.5em;
    font-size: 5vw;
  }

  .download button {
    font-size: 3vw;
  }

  #toHide {
    display: none;
  }
}
