.book-services {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  flex-direction: row;
  /* padding: 1rem; */
}

.service {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  box-shadow: var(--main-color) 0px 20px 30px -10px;
  padding: 2rem 2rem 3rem 2rem;
  width: 100%;
}

.service label {
  color: white;
  font-size: 1.6vw;
}

.service h2 {
  color: var(--secondary-color);
  font-size: 2vw;
  text-align: center;
}

.service input {
  height: 30px;
  width: 100%;
  padding: 20px 10px 20px 10px;
  /* font-size: 1.2vw; */
  border-bottom: 1px solid #1a2141;
  border-top: none;
  border-left: none;
  border-right: none;
}

.service input:focus {
  outline: none;
}

.service button {
  font-size: 1.5vw;
  border: 1px solid var(--secondary-color);
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 10px 18px 10px 18px;
}

.service button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--main-color);
  transition: 0.5s;
}

@media (max-width: 932px) {
  .book-services {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
    padding: 0;
  }

  .service {
    /* padding: 1rem 2rem 1rem 2rem; */
  }

  .service h2 {
    font-size: 6vw;
  }

  .service label,
  .service button {
    font-size: 4vw;
  }

  .service input,
  select {
    height: 3vh;
    width: 100%;
    padding: 15px 10px 15px 10px;
    font-size: 16px;
    border-bottom: 1px solid #1a2141;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}
