/* DEVICES SECTION */
.devices {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.active-users {
  margin: 35px 30px 15px 30px;
  border-radius: 50px;
  background-color: #1a2141;
  /* border: 1px solid #1A2141; */
  box-shadow: 0 3px 30px #1a2141;
  padding: 0 0 0 0;
}

.active-users h1 {
  color: #deb865;
  padding: 35px 0 0 160px;
  font-size: 8vh;
}

#notification-btn {
  background-color: #1a2141;
  color: #deb865;
  position: absolute;
  left: 71%;
  top: 200px;
  font-size: 3vh;
  border-color: #deb865;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 15px;
}

#notification-btn:hover {
  cursor: pointer;
  background-color: #deb865;
  color: #1a2141;
  transition: 0.5s;
}

.stats-1 {
  position: absolute;
  background-color: #deb865;
  left: 0;
  top: 30vh;
  border-radius: 0 30px;
  width: 130px;
  height: 130px;
  box-shadow: 0 3px 30px #1a2141;
  text-align: center;
  color: #1a2141;
  display: flex;
  flex-direction: column;
  font-size: 2.2vh;
}

.stats-2 {
  position: absolute;
  background-color: #deb865;
  left: 50px;
  top: 43vh;
  border-radius: 30px 0 30px 30px;
  width: 110px;
  height: 110px;
  box-shadow: 0 3px 30px #1a2141;
  text-align: center;
  color: #1a2141;
  display: flex;
  flex-direction: column;
  font-size: 2.1vh;
}

#stat {
  font-size: 7vh;
  font-weight: 600;
}

.active-users-info {
  margin: 0 20px 5px 150px;
  padding: 0 10px 30px 0;
  border-radius: 50px;
  background-color: #1a2141;
  display: flex;
  flex-wrap: wrap;
}

.users {
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  text-align: center;
  flex-wrap: wrap;
  height: 344px;
  overflow: auto;
}

.user-entry {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 100px;
  border-radius: 15px;
  object-fit: contain;
  padding: 0.5rem;
  color: white;
  font-size: 2.3vh;
}

.user-entry:hover {
  background-color: #deb865;
  transition: 0.5s;
  color: #1a2141;
  cursor: pointer;
}

.user-entry label,
img:hover {
  cursor: pointer;
  transition: 0.5s;
}

.user-entry img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.user-info {
  background-color: #deb865;
  border-radius: 15px;
  width: 40%;
  color: #1a2141;
}

.user-info h2 {
  font-size: 4vh;
  padding: 10px 0 0 25px;
}

.user-info label {
  font-size: 2.5vh;
}

.user-info .btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px 0 15px 0;
}

.btn-icons img {
  display: none;
}

.user-info button {
  border-radius: 15px;
  color: #1a2141;
  background-color: #deb865;
  font-size: 2.5vh;
  border-color: #1a2141;
  padding: 5px 20px;
}

.user-info button:hover {
  color: white;
  background-color: #1a2141;
  transition: 0.5s;
}

.btn button:hover {
  cursor: pointer;
}

.user-info .entry {
  padding: 10px 0 0 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px 0 20px 0;
}

.user-info-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2%;
}

/* Media query for phones/tablets */
@media (max-width: 932px) {
  .active-users {
    margin: 30px 15px 15px 20px;
    border-radius: 50px;
    background-color: #1a2141;
    box-shadow: 0 3px 30px #1a2141;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .active-users h1 {
    color: #deb865;
    font-size: 5vh;
    padding: 20px 0 0 0;
    text-align: center;
  }

  #notification-btn {
    background-color: #1a2141;
    color: #deb865;
    text-align: center;
    font-size: 3vh;
    border-color: #deb865;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 15px;
    display: none;
  }

  #notification-btn:hover {
    cursor: pointer;
    background-color: #deb865;
    color: #1a2141;
    transition: 0.5s;
  }

  .stats-1,
  .stats-2 {
    display: none;
  }

  .active-users-info {
    margin: 0 10px 15px 10px;
    padding: 0;
    border-radius: 50px;
    background-color: #1a2141;
    display: flex;
  }

  .users {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
    flex-wrap: wrap;
    height: 280px;
    overflow: auto;
  }

  .user-entry {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 60px;
    border-radius: 15px;
    object-fit: contain;
    padding: 0.5rem;
    color: white;
    font-size: 1.6vh;
  }

  .user-entry:hover {
    background-color: #deb865;
    transition: 0.2s;
    color: #1a2141;
  }

  .user-entry label,
  img:hover {
    cursor: pointer;
    transition: 0.5s;
  }

  .user-entry img {
    width: 42px;
    height: 42px;
    object-fit: cover;
  }

  .user-info {
    background-color: #deb865;
    border-radius: 15px;
    width: 100%;
    margin: 0 20px 20px 20px;
    color: #1a2141;
  }

  .user-info h2 {
    font-size: 3vh;
    padding: 0;
    text-align: center;
  }

  .user-info label {
    font-size: 2vh;
  }

  .btn button {
    display: none;
  }

  .btn-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 0 20px 0;
  }

  .btn-icons img {
    display: block;
    gap: 20px;
    width: 50px;
    height: 50px;
  }

  .user-info .entry {
    padding: 10px 0 0 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 0 20px 0;
  }
}
.devices-section input,
textarea,
select {
  border-radius: 15px;
}

.devices-section textarea {
  padding: 1rem;
}

/* MODULES SECTION */
.modules {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  grid-template-rows: auto;
  margin: 50px 0 50px 0;
}

.modules input,
select {
  height: 45px;
  padding: 0 20px 0 20px;
  color: #1a2141;
  font-size: 2vh;
}

.rent-module {
  background-color: #deb865;
  border-radius: 50px;
  box-shadow: 0 3px 30px #1a2141;
  color: #1a2141;
  grid-column: 1;
  grid-row: 1 / 3;
  margin: 0 20px 5px 30px;
  /* padding: 0 10px 30px 0; */
}

.rent-module button {
  background-color: #deb865;
  color: #1a2141;
  font-size: 2.7vh;
  border-color: #1a2141;
  border: 1px solid;
  padding: 5px 20px;
  border-radius: 15px;
}

.rent-module button:hover {
  cursor: pointer;
  background-color: #1a2141;
  color: #deb865;
  transition: 0.5s;
}

.modules label {
  font-size: 3vh;
}

.modules h2 {
  text-align: center;
  color: #deb865;
  font-size: 5vh;
}

.modules-forms {
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-module {
  margin: 0 50px 5px 0;
  background-color: #1a2141;
  border-radius: 50px;
  box-shadow: 0 3px 30px #1a2141;
  color: white;
  grid-column: 2;
  grid-row: 1;
}

.entries-module {
  margin: 0 50px 5px 0;
  background-color: #1a2141;
  border-radius: 50px;
  box-shadow: 0 3px 30px #1a2141;
  color: white;
  grid-column: 2;
  grid-row: 2;
}

.modules-btns {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  gap: 20px;
}

.search-module button,
.entries-module button {
  background-color: #1a2141;
  color: #deb865;
  font-size: 2.7vh;
  border-color: #deb865;
  border: 1px solid;
  padding: 5px 20px;
  border-radius: 15px;
}

.search-module button:hover,
.entries-module button:hover {
  cursor: pointer;
  background-color: #deb865;
  color: #1a2141;
  transition: 0.5s;
}

/* VERY IMPORTANT */
button img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.rent-module img,
.search-module img,
.entries-module img {
  display: none;
}

@media (max-width: 932px) {
  .modules {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0 70px 0;
  }

  .modules input,
  select {
    height: 35px;
    padding: 0 20px 0 20px;
    color: #1a2141;
    font-size: 1vh;
  }

  .rent-module img {
    display: block;
    width: 8vh;
    border: 1px solid #1a2141;
    padding: 4px 16px 4px 16px;
    border-radius: 10px;
  }

  .search-module img,
  .entries-module img {
    display: block;
    width: 8vh;
    border: 1px solid #deb865;
    padding: 4px 16px 4px 16px;
    border-radius: 10px;
  }

  .rent-module {
    background-color: #deb865;
    border-radius: 50px;
    box-shadow: 0 3px 30px #1a2141;
    color: #1a2141;
    grid-column: 1;
    grid-row: 1 / 3;
    margin: 0 15px 15px 20px;
  }

  .modules button {
    display: none;
  }

  .rent-module button {
    background-color: #deb865;
    color: #1a2141;
    font-size: 3vh;
    border-color: #1a2141;
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 15px;
  }

  .rent-module button:hover {
    cursor: pointer;
    background-color: #1a2141;
    color: #deb865;
    transition: 0.5s;
  }

  .modules label {
    font-size: 2.7vh;
  }

  .modules h2 {
    text-align: center;
    color: #deb865;
    font-size: 4vh;
  }

  .modules-forms {
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .search-module {
    margin: 0 15px 15px 20px;
    background-color: #1a2141;
    border-radius: 50px;
    box-shadow: 0 3px 30px #1a2141;
    color: white;
    grid-column: 2;
    grid-row: 1;
  }

  .entries-module {
    margin: 0 15px 5px 20px;
    background-color: #1a2141;
    border-radius: 50px;
    box-shadow: 0 3px 30px #1a2141;
    color: white;
    grid-column: 2;
    grid-row: 2;
  }

  .modules-btns {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    gap: 20px;
  }

  .search-module button,
  .entries-module button {
    background-color: #1a2141;
    color: #deb865;
    font-size: 3vh;
    border-color: #deb865;
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 15px;
  }

  .search-module button:hover,
  .entries-module button:hover {
    cursor: pointer;
    background-color: #deb865;
    color: #1a2141;
    transition: 0.5s;
  }

  /* VERY IMPORTANT */
  button img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
}
