@font-face {
  font-family: "Montserrat";
  src: url("../public/Montserrat-Regular.eot");
  src: url("../public/Montserrat-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/Montserrat-Regular.woff2") format("woff2"),
    url("../public/Montserrat-Regular.woff") format("woff"),
    url("../public/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Montserrat";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
