/* Hex Colors */

/*  Gold  */
/* #e3b86d */

/* Blue */
/* #172140 */

body {
  background-color: #e3b86d;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #e3b86d;
  background-color: #172140;
  vertical-align: center;
  align-items: center;
  padding: 0.5rem;
  gap: 7%;
}

.header h1 {
  cursor: pointer;
}

.header div {
  display: flex;
  gap: 4%;
}

.header label {
  cursor: pointer;
}

.header label:hover {
  color: white;
}

.header img {
  width: 128px;
}

.index {
  background-color: #e3b86d;
  position: absolute;
  width: 100%;
}

.section-2 {
  display: flex;
  flex-direction: row;
}

.section-2 .mini-sections {
  width: 50%;
}

.options {
  margin: 2% 2% 2% 2%;
  padding-top: 2rem;
  background-color: #172140;
  color: #172140;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.options h2 {
  margin: auto;
  padding-bottom: 2%;
  color: #e3b86d;
}

.options button {
  margin: 2% 0 2% 0;
  padding: 0.2rem;
  background-color: #e3b86d;
  border-radius: 8px;
  border-color: #172140;
  font-size: large;
  width: 30%;
  color: #172140;
}

.options button:hover {
  background-color: white;
  border-radius: 8px;
  border-color: #172140;
  cursor: pointer;
  color: #172140;
}

.updates {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.renting {
  background-color: #e3b86d;
  border-radius: 8px;
  padding: 2rem;
  overflow: auto;
}

.devices-list {
  background-color: #e3b86d;
  border-radius: 8px;
  width: 50%;
  padding: 2rem;
  overflow: auto;
  margin: 3%;
}

.list {
  display: block;
  justify-content: left;
  background-color: #e3b86d;
  border-radius: 8px;
  width: 50%;
  padding: 2rem;
  margin: 3%;
}

.list button {
  margin: 0 1% 0 0;
  width: 40%;
}

#filter {
  width: 50%;
  margin: auto;
  padding: 1%;
}

.titles {
  text-align: center;
  color: #172140;
  background-color: #e3b86d;
  margin: auto;
  padding: 1rem;
}

.barcode-scanner {
  display: flex;
  flex-direction: row;
  background-color: #e3b86d;
  gap: 5%;
  padding: 2rem;
}

@media (max-width: 1132px) {
  .barcode-scanner {
    flex-wrap: wrap;
  }
}

#documento {
  font-weight: bolder;
  font-size: larger;
  margin: 1% 0 3% 0;
}

.code {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barcode-scanner button {
  padding: 0.5rem;
  background-color: #e3b86d;
  border-radius: 8px;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: large;
  border-color: #172140;
}

.titles button {
  padding: 0.5rem;
  background-color: #e3b86d;
  border-radius: 8px;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: large;
  border-color: #172140;
  text-align: center;
}
.titles button:hover {
  background-color: white;
  cursor: pointer;
}

.barcode-scanner button:hover {
  background-color: white;
  cursor: pointer;
}

.returns {
  background-color: #e3b86d;
  border-radius: 8px;
  padding: 2rem;
  margin: 0 5% 0 5%;
}

.rent {
  display: flex;
  flex-direction: column;
  background-color: #e3b86d;
  border-radius: 8px;
  padding: 2rem;
  margin: 0 5% 0 5%;
}

.rent label {
  font-size: large;
}

.selection {
  display: flex;
  flex-direction: column;
}

.selection input,
select {
  padding: 0.5rem;
  width: 100%;
}

.device {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.returns .device label {
  color: #172140;
  font-size: large;
  margin-bottom: 5%;
}

.returns select {
  padding: 0.5rem;
  width: 100%;
}

.returns input {
  padding: 0.5rem;
}

.returnBtn {
  display: flex;
  justify-content: center;
}

#back {
  background-color: #e3b86d;
  display: flex;
  justify-content: center;
}

#back button {
  padding: 0.5rem;
  margin: 0 0 5% 0;
  background-color: #172140;
  color: #e3b86d;
  border-radius: 8px;
  border-color: #172140;
  font-size: xx-large;
  text-align: center;
}

#back button:hover {
  cursor: pointer;
  background-color: white;
  color: #172140;
  text-align: center;
}

.index table {
  width: 100%;
  table-layout: fixed;
}

.index td,
th {
  border: 1px solid #172140;
  text-align: left;
  padding: 8px;
  color: #172140;
  word-wrap: break-word;
  font-size: small;
}

h3 img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

button img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.scanner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.selected {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Small Devices */

@media (max-width: 932px) {
  .updates {
    flex-wrap: wrap;
    gap: 20px;
  }

  .btns {
    display: flex;
    justify-content: center;
    gap: 2px;
  }

  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .options button {
    font-size: medium;
  }

  button img {
    display: none;
  }

  .options h2 {
    text-align: center;
  }

  .devices-list {
    margin: 0 5% 0 5%;
    width: 100%;
  }

  .list {
    margin: 0 5% 5% 5%;
    width: 100%;
  }

  .section-2 {
    flex-direction: column;
  }

  .section-2 .mini-sections {
    width: 96%;
    margin: 2% 2% 2% 2%;
  }
}
